<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/own.css" rel="stylesheet" type="text/css"/>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-app="WebsiteParser">
        <div class="container-fluid">


            <ul class="nav nav-pills nav-justified" ng-controller="NavigationCtrl as Nav">
                <li ng-class="Nav.tabClass(tab)" ng-repeat="tab in Nav.tabs" tab="tab">
                    <a href="{{tab.link}}" ng-click="Nav.setSelectedTab(tab)" translate>{{tab.label}}</a></li>
            </ul>

            <div class="jumbotron main" ng-view autoscroll></div>
            
        </div>
        <script src="js/libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="js/libs/angular/angular.min.js" type="text/javascript"></script>
        <script src="js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="js/libs/angular-translate/angular-translate.min.js" type="text/javascript"></script>
        <script src="js/libs/angular-translate-loader-partial/angular-translate-loader-partial.min.js" type="text/javascript"></script>
        <script src="js/libs/messageformat/messageformat.js" type="text/javascript"></script>
        <script src="js/libs/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js" type="text/javascript"></script>
        <script src="js/libs/angular-dynamic-locale/tmhDynamicLocale.min.js" type="text/javascript"></script>
        <script src="js/libs/angular-route/angular-route.min.js" type="text/javascript"></script>
        <script src="js/libs/angular-animate/angular-animate.min.js" type="text/javascript"></script>
        <script src="js/libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
        <!-- minify these: -->
        <script src="js/app.js" type="text/javascript"></script>
        <script src="runner/runner.js" type="text/javascript"></script>
        <script src="checker/checker.js" type="text/javascript"></script>
        <script src="checker/editor.js" type="text/javascript"></script>
    </body>
</html>
